# PostgreSQL connection string template
# Copy this file and rename it to your-service.conn
# Example: cp example.conn.template disrupt.conn

postgres://username:password@hostname:5432/database?sslmode=require

# For Aurora RDS:
# postgres://grafana_mon:YOUR_PASSWORD@aurora-cluster.cluster-xxxxx.us-east-1.rds.amazonaws.com:5432/postgres?sslmode=require
